<style>
    select {
        width: 100%;
        height: 30pt;
        text-align-last:center;
    }
</style>

{% extends "base.html" %}

{% block content %}
    <form method="POST" action="/list/add">
        {% for header in headers %}
            <label for="{{header}}">{{header}}</label><br>

            {% if header == 'mfr' %}
                <select name="{{ header }}" id="{{ header }}">
                    {% for val in mfrvals %}
                    <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                </select>
                <br>
                
            {% elif header == 'type' %}
                <select name="{{ header }}" id="{{ header }}">
                    {% for val in typevals %}
                        <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                </select>
            <br>

            {% else %}
                <div class="field">
                    <input class="input is-large" type="text" name="{{header}}" placeholder="Type {{header}}" autofocus="">
                </div>
            {% endif %}

        {% endfor %}
        <button class="button is-block is-info is-large is-fullwidth">Add Cereal</button>
    </form>
{% endblock %}
