<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}




a:hover, a:active {
  background-color: red;
}

select {
    width: 20%;
    height: 30pt;
    text-align-last:center;
}
</style>


{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
 
<table id="cerealTable" border="1" style="cursor: pointer;">
    <tr class = "header">
        {% for header in headers %}
            <th onclick ="testFunc('{{header}}')"> {{ header }} </th>
        {% endfor %}
    </tr>
    {% for _, values in cereals.items() %}
      {% for col, value in values.items() %}
        {% if col == 'id' %}
        <tr onclick="window.location='/list/{{ value }}';">
        {% endif %}
                <td> {{ value }} </td>

      {% endfor %}
      </tr>
    {% endfor %}
</table>
<br>
<form method="POST" action="/list">
  <table id = "filter" border="1" style="cursor: pointer;">
    <tbody>
      {% if prevFilters %}
        {% for (field,op,val) in prevFilters %}
        <tr>
          <select name = field>
          {% for header in headers %}
            {% if header == field %}
              <option value="{{header}}" selected>{{header}}</option>
            {% else %}
              <option value="{{header}}" >{{header}}</option>
            {% endif %}
          {% endfor %}'
          </select>
          <select name = op>
            {% for (name,operator) in operators.items()%}
              {% if name == op %}
                <option value="{{name}}" selected>{{operator}}</option>
              {% else %}
                <option value="{{name}}" >{{operator}}</option>
              {% endif %}
            {% endfor %}'
            </select>
          <input type="text" name = value height="30pt", value = "{{val}}">
        </tr>
        <br>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <button type="button" onclick="addRow()" style="float: left;">Add Filter</button>
  <button type="button" onclick="deleteRow()" style="float: left;">Delete last Filter</button>
  <button class="button is-block is-info is-large is-fullwidth">Filter</button>
</form>
<script>
  function addRow() {
    var tablere = document.getElementById('filter').getElementsByTagName('tbody')[0];
    tablere.insertRow().innerHTML = ['<tr>',
                              '<select name = field>',
                              '{% for header in headers %}',
                              '<option value="{{header}}">{{header}}</option>',
                              '{% endfor %}',
                              '</select>',
                              '<select name = op>',
                              '{% for (name,op) in operators.items() %}',
                              '<option value="{{name}}">{{op}}</option>',
                              '{% endfor %}',
                              '</select>',
                                '<input type="text" name = value height="30pt">',
                                '</tr>'].join('\n');
  }

  function deleteRow() {
    var table = document.getElementById('filter');

    var rowCount = table.rows.length;
    console.log(table.rows);
    table.deleteRow(rowCount -1);
  }

  </script>

{% endblock %}
